.stage{

    width: 980px;
    margin: 0 auto;

}

.main{

    //  padding: 5px;

    float: left;
    width: 748px;
    margin-right: 2px;

}

.rightcolumn{

    // padding: 5px;
    float: left;
    width: 230px;
}

.p{
    text-align: left;
    font-size: 13px;
    margin-left: 17px;
    margin-top: 8px;  
}               