
.college_dashboard_maincontainer{
    margin: 0 auto;
    width: 980px;
    height: auto;
    background-color: white;
    margin-top: 19px;
    /*margin-bottom: 14px;*/
    
    /*min-height: 900px;*/
    
    
    
}