
.college_dashboard_maincontainer{
    margin: 0 auto;
    width: 980px;
    height: auto;
    background-color: white;
    margin-top: 19px;
    margin-bottom: 14px;
    
   
/*    border: 1px solid #ddd;*/
    
    
}
.center
{
    width: 600px;
    margin: 0 auto;
/*    border: 1px solid #ddd;*/
    
      
}