.body{
     background-color: darkgray;
    margin: 0 auto;
}
.maincontainer{
    width: 980px;
    height: auto;
    min-height: 675px;
    background-color: #ffffff;
    margin: 11px auto;
}
.middleportion{
    
    width: 84%;
    height: 400px;
    /*//border: 1px solid #ddd;*/
    margin:57px 15px 0px 80px;
    float: left;
}
.stud{
     width: 52%;
    height: 395px;
    border: 1px solid #ddd;
    margin:0 0 0 0;
    float: left;
     background: rgb(238, 241, 241);;
    border-radius: 12px;
    height: 250px;
    margin: 10px auto;
    width: 390px;
}
.colg{
    width:52%;
    
    border: 1px solid #ddd;
    margin:0 0 0 0;
    
    background: rgb(238, 241, 241);
  
    border-radius: 12px;
    height: auto;
    margin: 10px auto;
    width: 390px;
}
#tab1a{
    
font-size:15px;
font-weight: bold;
color: #0d75a0;
/*//float: left;*/

}
.stud1{
    margin: 33px 0 0 77px;
    font-size: 15px;
   /*// color: #ffffff;*/
}
#btn{
    margin: 5px 0 0 50px;
    border-radius: 8px;
}
#hylin{
    margin: 0 0 0 5px;
    font-size: 14px;
    color: #0d75a0;
    text-decoration: none;
    
}
.col1{
   margin: 33px 0 0 77px;
    font-size: 15px; 
}